.userWrap {
    color: white;
}

.headerWrap {}
    .headerBackground, .userImg{
        position: relative;
    }
    .bgImgAlt, .userImgAlt {
        background: #cac6c65e;
    }
    .bgImgUploadPen, .userImgUploadPen{
        display: flex;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 0;
        left: 0;
        background: green;
        opacity: 0;
    }
    .bgImgUploadPen:hover, .userImgUploadPen:hover{
        opacity: 1;
    }
    .bgInputFile, .userInputFile{
        display: none;
    }
    .headerBackground {}
        .bgImgContainer {}
            .bgImgContainer img {
                object-fit: cover;
                width: 100%;
                height: 200px;
            }
            .bgImgAlt {
                width: 100%;
                height: 200px;
            }
        .bgImgUploadPen {
            width: 100%;
            height: 200px;
        }
        .bgImgUploadPen:hover {}
        .bgInputFile {}
    .userInfo {
        width: 30%;
        margin: 0 auto;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        gap: 20px;
    }
        .userImg {
            width: 148px;
            height: 148px;
            border-radius: 50%;
            margin-top: -78px;
        }
            .userImgContainer {}
                .userImgContainer img {
                    border: 4px solid white;
                    object-fit: cover;
                    width: 148px;
                    height: 148px;
                    border-radius: 50%;
                }
                .userImgAlt {
                    width: 148px;
                    height: 148px;
                    border-radius: 50%;
                }
            .userImgUploadPen {
                width: 156px;
                height: 156px;
                border-radius: 50%;
                /* border: 4px solid white; */
            }
            .userImgUploadPen:hover {}
            .userInputFile {}
        .userName {
            font-weight: bold;
            color: #C1C1C1;
            font-size: 41px;
            text-transform: capitalize;
        }
        .userWallet {
            font-weight: lighter;
            color: #C1C1C1;
            font-size: 31px;
        }


.tabNavigation {

}
    .tabNavWrap {
        display: flex;
        justify-content: space-around;
        padding-inline-start: 0;
        margin: 0 auto;
        padding: 20px 20% 0 20%;
        border-bottom: 2px solid #FF01DD40;
    }
    .tabNavWrap>li {
        list-style: none;
        font-size: 30px;
        font-weight: bold;
        color: white;
        text-transform: capitalize;

        width: 20%;
        text-align: center;
        padding: 15px 0 0 0;
    }
    .tabNavWrap>li.active::after {
        transition: background-color 0.4s ease 0s;
        background-color: rgb(32, 129, 226);
        bottom: 0%;
        content: "";
        display: block;
        height: 6px;
        left: 0px;
        /* position: absolute; */
        width: 100%;
        border-top-left-radius: 6px;
        border-top-right-radius: 6px;
    }
    .tabNavWrap>li>svg {
        margin-right: 18px;
    }
    .tabNavWrap>li>span.count {
        font-weight: lighter;
        font-size: 24px;
        margin-left: 18px;
    }
.tabContent {

}

.activityTbl {
    width: 70%;
    margin: 30px 15%;
    font-size: 30px;
    border-collapse: collapse;
}
    .activityThead {
        border-bottom: 2px solid red;
    }
        .activityTheadRow {}
            .activityTheadCol {
                text-align: left;
            }
    .activityTbody {}
        .activityTbodyRow {}
            .activityTbodyCol {}